Regular Expressions

In [2]:
import pandas
import re

In [1]:
#solved in the order[1,2,3,4,7,8,9,11,12,13,17,20,22,23,24,25,26,27,28,30,19,15,16,18,10,14,29,21]

Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
Sample Text- 'Python Exercises, PHP exercises.
Expected Output: Python:Exercises::PHP:exercises:

In [5]:
#Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

import re

txt="Python Exercises, PHP exercises"
pattern=" |,|\."

matches=re.sub(pattern,":",txt)
matches

'Python:Exercises::PHP:exercises'

In [8]:
import pandas as pd

Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

In [68]:
#Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.

dict1={'SUMMARY':['hello, world!','XXXXX test','123four,five:; six...']}
df=pd.DataFrame(dict1)

In [69]:
pattern=r"[^a-z\s]"
df['SUMMARY']=df['SUMMARY'].str.replace(pattern,"",regex=True)  # [^....] will match characters other than characters present in []
df

        SUMMARY
0   hello world
1          test
2  fourfive six

Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [12]:
#Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.


txt="ms dhoni is a legend cricketer 77777"
pattern=re.compile(r"\b\w{4,}")
res=pattern.finditer(txt)

for match in res:
    print(match.group())

dhoni
legend
cricketer
77777

In [13]:
txt="ms dhoni is a legend cricketer 77777"
pattern=re.compile(r"\b\w{4,}")
res=pattern.findall(txt)
res

['dhoni', 'legend', 'cricketer', '77777']

Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [15]:
#Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.


txt="virat will bat at no3 for india in worldcup"
pattern=re.compile(r"\b\w{3,5}\b")
xyz=pattern.finditer(txt)

for match in xyz:
    print(match.group())

virat
will
bat
no3
for
india

Question 7- Write a regular expression in Python to split a string into uppercase letters.
Sample text: “ImportanceOfRegularExpressionsInPython”
Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [16]:
#Question 7- Write a regular expression in Python to split a string into uppercase letters.

txt="ImportanceOfRegularExpressionsInPython"
pattern=r"[A-Z][a-z]+"
match=re.findall(pattern,txt)
match

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Question 8- Create a function in python to insert spaces between words starting with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [17]:
#Question 8- Create a function in python to insert spaces between words starting with numbers.

txt="RegularExpression1IsAn2ImportantTopic3InPython"
pattern=r"([a-z])(\d)"                               
result=re.sub(pattern,r'\1 \2',txt)
result
# 1st group will fetch a-z 2nd group will fetch digits
#\1 \2 are backreferences, pattern will match lowercase followed by digits,it will be replaced by lowercase followed by space and digits.

'RegularExpression 1IsAn 2ImportantTopic 3InPython'

In [31]:
#2
txt="RegularExpression1IsAn2ImportantTopic3InPython"
pattern=r"(\d)([A-Z])"
result=re.sub(pattern,r' \1\2',txt)
result

'RegularExpression 1IsAn 2ImportantTopic 3InPython'

Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [18]:
#Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.

txt="RegularExpression1IsAn2ImportantTopic3InPython"
pattern=r"([a-z])(\d)"
result=re.sub(pattern,r'\1 \2 ',txt)
result

'RegularExpression 1 IsAn 2 ImportantTopic 3 InPython'

In [19]:
#Ans2
txt="RegularExpression1IsAn2ImportantTopic3InPython"
pattern=r"(\d)([A-Z])"
result=re.sub(pattern,r' \1 \2',txt)
result

'RegularExpression 1 IsAn 2 ImportantTopic 3 InPython'

Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [20]:
#Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

txt="Ms Dhoni played for India in 2011 world_cup"
pattern=r"^[a-zA-Z0-9_]+$"
result=re.match(pattern,txt)
print(result)                  #string contain space character other than the pattern characters

None

In [21]:
#Ans2
txt="MsDhoniplayedforIndiain2011world_cup"
pattern=r"^[a-zA-Z0-9_]+$"
result=re.match(pattern,txt)
result

Question 12- Write a Python program where a string will start with a specific number.

In [22]:
#Question 12- Write a Python program where a string will start with a specific number. 


string="07 is Dhoni's Jersey no " 
spfnumber=input('enter spfnumber')

def strings_starts_with_num(string,spfnumber):
    return string.startswith(str(spfnumber)) # converting spfnumber to string by using str

if strings_starts_with_num(string,spfnumber):
    print('string starts with spfnumber')
else:
    print('does not starts with spfnumber')

enter spfnumber07
string starts with spfnumber

Question 13- Write a Python program to remove leading zeros from an IP address

In [23]:
#Question 13- Write a Python program to remove leading zeros from an IP address

txt="185.156.001.012"
pattern=r"\b0+(\d+)"           #(\d+) is 1 group
result=re.sub(pattern,r'\1',txt)
print(result)

185.156.1.12

Question 17- Write a Python program to find the substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises'
Pattern : 'exercises'.

In [24]:
#Question 17- Write a Python program to find the substrings within a string.

txt='Python exercises, PHP exercises, C# exercises'
pattern=re.compile('exercises')

match=pattern.finditer(txt)
for i in match:
    print(i.group())

exercises
exercises
exercises

Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [25]:
#Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

txt="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
pattern=re.compile(r"\b[0-9]+\.[0-9]{1,2}\b")
result=pattern.findall(txt)
result

['01.12', '145.8', '3.01', '27.25', '0.25']

Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
Expected Output: 950

In [26]:
#Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.

txt="My marks in each semester are: 947, 896, 926, 524, 734, 950, 642"
pattern=r"\d+"

result=re.findall(pattern,txt)
a=max(result)
a

'950'

Question 23- Create a function in python to insert spaces between words starting with capital letters.
Sample Text: “RegularExpressionIsAnImportantTopicInPython"
Expected Output: Regular Expression Is An Important Topic In Python

In [27]:
#Question 23- Create a function in python to insert spaces between words starting with capital letters.

txt="RegularExpressionIsAnImportantTopicInPython"
pattern=r"([A-Z][a-z]+)"
result=re.sub(pattern,r' \1',txt)
result

' Regular Expression Is An Important Topic In Python'

Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [28]:
#Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

txt="Ms Dhoni Played for India in 2011 World_cup"
pattern=r"([A-Z][a-z]+)"

output=re.findall(pattern,txt)
output

['Ms', 'Dhoni', 'Played', 'India', 'World']

In [1]:
import re

Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
Sample Text: "Hello hello world world"
Expected Output: Hello hello world

In [29]:
#Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

txt="Hello hello world world"
pattern=r"\b(\w+)(?:\W+\1\b)+"
result=re.sub(pattern,r'\1',txt)
result

'Hello hello world'

Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [30]:
#Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

txt="India won the worldcup in2011"

pattern=r".*[a-zA-Z0-9]$"
result=re.findall(pattern,txt)
result
if result == None:
    print("txt is not alphanumeric")
else:
    print("txt is alphanumeric")

txt is alphanumeric

In [21]:
import re

Question 27-Write a python program using RegEx to extract the hashtags.
Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [31]:
#Question 27-Write a python program using RegEx to extract the hashtags.

txt="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
pattern=r"#\w+"
result=re.findall(pattern,txt)
result

['#Doltiwal', '#xyzabc', '#Demonetization']

Question 28- Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [32]:
#Question 28- Write a python program using RegEx to remove <U+..> like symbols
#Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.

txt="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
pattern=r"<U\+[0-9A-Z]+>"
result=re.sub(pattern,"",txt)
result                                   #\+ represents + symbol

'@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders'

Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.
Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [33]:
#Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
#The use of the re.compile() method is mandatory.

txt="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
pattern=re.compile(r"\b\w{2,4}\b")
result=pattern.sub("",txt)
result

' following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.'

Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [34]:
#Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

input_date="2024-05-23"

pattern=r"(\d{4})-(\d{2})-(\d{2})"

output_date= re.sub(pattern,r'\3-\2-\1',input_date) #\3\2\1  are reference groups 
output_date

'23-05-2024'

Question 15- Write a Python program to search some literals strings in a string. 
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox', 'dog', 'horse'

In [5]:
import re

In [35]:
#Question 15- Write a Python program to search some literals strings in a string. 


def search_string(txt,searched_words):
    found=[]

    for word in searched_words:
        if re.search(word,txt):
            found.append(word)
    return found

txt="'The quick brown fox jumps over the lazy dog"
searched_words='fox', 'dog', 'horse'

found=search_string(txt,searched_words)
print(found)

['fox', 'dog']

Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox'

In [36]:
# Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs

txt='The quick brown fox jumps over the lazy dog.'
searched_words='fox'
match=re.search(searched_words,txt)
print(match)

<re.Match object; span=(16, 19), match='fox'>

Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [37]:
#Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

string='The quick brown fox jumps over the lazy dog.'
substring='fox'

match=re.search(substring,string)
print(match)

<re.Match object; span=(16, 19), match='fox'>

Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

In [38]:
import pandas as pd
import numpy as np

#Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

In [77]:
df=pd.read_csv("sampletext.csv")
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [75]:
pattern=r"(\w{1,6})"
df=df['Country'].str.extract(pattern,expand=True)
df

          0
0    Switze
1    Icelan
2    Denmar
3    Norway
4    Canada
..      ...
153  Rwanda
154   Benin
155   Syria
156  Burund
157    Togo

[158 rows x 1 columns]

In [78]:
df["first_five_letters"]=df['Country'].str.extract(pattern,expand=True)
df["first_five_letters"]

0      Switze
1      Icelan
2      Denmar
3      Norway
4      Canada
        ...
153    Rwanda
154     Benin
155     Syria
156    Burund
157      Togo
Name: first_five_letters, Length: 158, dtype: object

Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.
Expected Output- August 15th 1947
Note- Store given sample text in the text file and then extract the date string asked format.

In [39]:
#Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

with open("text1.txt") as file:
    for line in file:
        result=re.findall(r"\b[A-Z][a-z]+\s+\d{2}[a-z]{2}\s+\d{4}",line)
        print(result)

['August 15th 1947']

# Question 29- Write a python program to extract dates from the text stored in the text file.
Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
Note- Store this sample text in the file and then extract dates.

In [40]:
#Question 29- Write a python program to extract dates from the text stored in the text file.

with open("text.txt") as file:
    for line in file:
        result=re.findall(r"\b\d{2}-\d{2}-\d{4}\b",line)
        print(result)

['12-09-1992', '15-12-1999']

Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [41]:
#Question 21- Write a Python program to separate and print the numbers and their position of a given string.

txt="Ms Dhoni played for India in 2011 world_cup"

pattern=re.compile(r"\d+")

matches=pattern.finditer(txt)

for match in matches:
    a=match.group()
    b=match.start()
    print(f"number: {a},position: {b}")

number: 2011,position: 29

In [1]:
import re

Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output:
example.com
hr@fliprobo.com
github.com
Hello Data Science World
Data Scientist

In [43]:
#Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
#Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]




txt=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
pattern=re.compile(r"(\()(.*)(\))")


for line in txt:
    result=pattern.sub("\2",line)
    result
    
for text in result:
    print(text)
    
                            # not able to solve 5th and 6th questions
    
#solved 28 questions and 2 questions unable solve(5 &6)

D
a
t
a



Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]
Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

solved 28 questions and 2 questions unable solve(5 &6)