In [1]:
#Q1: In this question you have to scrape data using the filters available on the webpage You have to use the location and 
#salary filter.You have to scrape data for “Data Scientist” designation.You have to scrape the job-title, job-location, company name, experience required.

In [6]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\asus\anaconda3\lib\site-packages (4.22.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (0.25.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (4.12.2)
Requirement already satisfied: websocket-client>=1.8.0 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\asus\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\asus\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\asus\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\asus\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [7]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [8]:
driver=webdriver.Chrome()

In [9]:
#OPENING CHROME PAGE

driver.get("https://www.naukri.com/")

In [10]:
#entering designation and job location

designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [11]:
#entering Location
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Delhi/NCR')

In [12]:
#to click on search button
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [13]:
# filtering 3-6 lakh salary
search1=driver.find_element(By.XPATH,"/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[4]/div[2]/div[2]/label/i")
search1.click()

In [14]:
job_title=[]
job_location=[]
company_name=[]
experience_need=[]

In [15]:
#scraping job_title from the given page

titles=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')

for i in titles:
    job_title.append(i.text)

In [16]:
#scraping job_location from the given page

location=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')

for i in location:
    job_location.append(i.text)

In [17]:
#scraping company name from the given page

companyname=driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')

for i in companyname:
    company_name.append(i.text)

In [18]:
#scraping experience_need name from the given page

experience=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')

for i in experience:
    experience_need.append(i.text)

In [19]:
df=pd.DataFrame({'title':job_title[0:10],'location':job_location[0:10],'company_name':company_name[0:10],'experience':experience_need[0:10]})
df

,title,location,company_name,experience
0,Data Scientist,"Delhi / NCR, Pune, Bengaluru",Wipro,6-11 Yrs
1,Data Scientist III,Gurugram,Flutter,2-6 Yrs
2,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Essenware,2-5 Yrs
3,Data Scientist (Telco),"Gurugram, Bengaluru",PayU,2-7 Yrs
4,Data Scientist,New Delhi,Sociomix,0-5 Yrs
5,Data scientist,Gurugram,Growthjockey,0-1 Yrs
6,Data Scientist,Gurugram,Orange Business Services,3-5 Yrs
7,Data Scientist,Noida,Ericsson,3-7 Yrs
8,Data Scientist,Noida,Times Internet,3-8 Yrs
9,Data Scientist,Noida,Ericsson,3-7 Yrs

In [25]:
# question 2 did at last

In [46]:
#Q3: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:

# opening flipkart
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=F")

In [47]:
rating=[]
review_summary=[]
full_review=[]

In [48]:
for page in range(0,10):
    ratings=driver.find_elements(By.XPATH,'//div[@class="XQDdHH Ga3i8K"]')
    for i in ratings:
        rating.append(i.text)                         #to scrape rating

In [26]:
# to scrape multiple pages using next button

In [49]:
next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span')
next_button.click()
time.sleep(3)

In [50]:
for page in range(0,10):
    reviews=driver.find_elements(By.XPATH,'//p[@class="z9E0IG"]')
    for i in reviews:
        review_summary.append(i.text)    # scrape reviews from flikart

In [27]:
# to scrape multiple pages using next button

In [51]:
next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span')
next_button.click()
time.sleep(3)

In [52]:
for page in range(0,10):
    fullreview=driver.find_elements(By.XPATH,'//div[@class="ZmyHeo"]/div')
    for i in fullreview:
        full_review.append(i.text)                # scrape full review

In [28]:
# to scrape multiple pages using next button

In [53]:
next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span')
next_button.click()
time.sleep(3)

In [54]:
df=pd.DataFrame({'Ratings':rating[0:100],'Summary':review_summary[0:100],'Full_review':full_review[0:100]})
df

,Ratings,Summary,Full_review
0,5,Worth every penny,Feeling awesome after getting the delivery of ...
1,5,Terrific,Very very good
2,5,Best in the market!,Good Camera
3,5,Must buy!,It’s really awesome
4,5,Awesome,iPhone 11 is a good phone. Not a very big diff...
...,...,...,...
95,5,Wonderful,This is amazing at all
96,5,Just wow!,Perfect Product!!
97,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
98,5,Perfect product!,Photos super
99,5,Fabulous!,It’s very good battery life and display and vi...

In [1]:
#Q4: Scrape data forfirst 100 sneakers you find whenyouvisitflipkart.com and search for “sneakers” inthe search field.

!pip install selenium

Requirement already satisfied: selenium in c:\users\asus\anaconda3\lib\site-packages (4.22.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (0.25.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (4.12.2)
Requirement already satisfied: websocket-client>=1.8.0 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\asus\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\asus\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\asus\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\asus\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome()

In [4]:
driver.get("https://www.flipkart.com/")

In [5]:
sneakers=driver.find_element(By.XPATH,'//input[@class="Pke_EE"]')
sneakers.send_keys('sneakers')

search=driver.find_element(By.XPATH,'//button[@class="_2iLD__"]')
search.click()                                                   #sending sneaker key and clicking on search button

In [6]:
brands=[]
products_de=[]
prices=[]

In [7]:
for page in range(0,4):
    brand=driver.find_elements(By.XPATH,'//div[@class="syl9yP"]')
    for i in brand:
        brands.append(i.text)

In [29]:
# scraping multiple page data using next button

In [8]:
search1=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
search1.click()

In [9]:
for page in range(0,4):
    product=driver.find_elements(By.XPATH,'//div[@class="hCKiGj"]/a[1]')
    for i in product:
        products_de.append(i.text)                #scraping products details from given pages

In [30]:
# scraping multiple page data using next button

In [10]:
search1=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
search1.click()

In [11]:
for page in range(0,4):
    price=driver.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
    for i in price:
        prices.append(i.text)             #scraping price details from given pages

In [31]:
# scraping multiple page data using next button

In [12]:
search1=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
search1.click()

In [13]:
df=pd.DataFrame({'Brands':brands[0:100],'Product':products_de[0:100],'price':prices[0:100]})
df                                                  # creating data frame

      Brands                                            Product   price
0     BRUTON               Modern Trendy Shoes Sneakers For Men    ₹297
1     BRUTON      Modern Trendy Sneakers Shoes Sneakers For Men    ₹297
2       PUMA                         Cliff IDP Sneakers For Men  ₹1,047
3       PUMA                      Puma knit V3 Sneakers For Men  ₹1,047
4       aadi  Lightweight,Comfort,Summer,Trendy,Walking,Outd...    ₹299
..       ...                                                ...     ...
95  Red Tape  Sneaker Casual Shoes for Men | Soft Cushioned ...  ₹1,379
96    BRUTON      Modern Trendy Sneakers Shoes Sneakers For Men    ₹297
97    BRUTON      Modern Trendy Sneakers Shoes Sneakers For Men    ₹297
98      PUMA                    Pacer Styx IDP Sneakers For Men  ₹1,435
99      ATOM                         Supernova Sneakers For Men  ₹1,685

[100 rows x 3 columns]

In [41]:
#Q5: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image


driver=webdriver.Chrome()

In [42]:
driver.get("https://www.amazon.com/")

In [44]:
laptop=driver.find_element(By.XPATH,'//input[@type="text"]')
laptop.send_keys('Laptop')

search=driver.find_element(By.XPATH,'//input[@id="nav-search-submit-button"]')
search.click()                                                            # passing laptop keyword in search field and clicking on search button

In [46]:
search1=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[5]/span/li/span/div/div/ul/span[11]/li/span/a/div/label/i')
search1.click()          #filtering intel corei7

In [58]:
titles=[]
ratings=[]
prices=[]
reviews=[]

In [63]:
title=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')

for i in title:
    titles.append(i.text)  # scraping titles of laptops

In [64]:
rating=driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')

for i in rating:
    ratings.append(i.text)            #scraping ratings of laptops

In [65]:
price=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')

for i in price:
    prices.append(i.text)             #scraping prices of laptops

In [66]:
review=driver.find_elements(By.XPATH,'//span[@class="a-size-base s-underline-text"]')

for i in review:
    reviews.append(i.text)             #scraping prices of laptops

In [68]:
df=pd.DataFrame({'LAP_title':titles[0:10],'Lap_prices':prices[0:10],'reviews':reviews[0:10],'ratings':ratings[0:10]})
df

,LAP_title,Lap_prices,reviews,ratings
0,Dell Newest 13th Generation Business Inspiron ...,784,21,
1,"Lenovo V14 Gen 3 Business Laptop, 14"" FHD Disp...","1,199",5,
2,"MSI Katana 15 15.6"" 144Hz FHD Gaming Laptop: 1...",708,289,
3,"HP Newest 15.6"" Full HD Touchscreen Laptop, 16...",788,25,
4,"Lenovo V15 Gen 3 Business Laptop, 15.6"" FHD Di...",929,4,
5,"Dell Latitude 7430 2-in-1 Business Laptop (14""...",639,6,
6,"ASUS Vivobook Laptop, 15.6” FHD Touchscreen, I...",599,36,
7,Acer Swift Go Intel Evo Thin & Light Premium L...,728,280,
8,"Lenovo Laptop V15 for Business (15.6"" FHD Anti...","1,739",9,
9,"LG gram 17” Lightweight Laptop, Intel 13th Gen...","1,289",31,

In [71]:
#Q6: Write a python program to scrape data for Top 1000 Quotes of All Time.
driver=webdriver.Chrome()

In [72]:
driver.get("https://www.azquotes.com/")

In [73]:
# clicking on top quotes
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
search.click()

In [74]:
quotes=[]
authors=[]
types_ofQ=[]

In [75]:
for page in range(0,10):
    quote=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote:
        quotes.append(i.text)                #scraping top quotes

In [32]:
# to scrape multiple page data using next button

In [76]:
search1=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
search1.click()

In [77]:
for page in range(0,10):
    author=driver.find_elements(By.XPATH,'//div[@class="author"]/a')
    for i in author:
        authors.append(i.text)                #scraping Authors name

In [33]:
# to scrape multiple page data using next button

In [78]:
search1=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
search1.click()

In [79]:
for page in range(0,10):
    types=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in types:
        types_ofQ.append(i.text)                #scraping type of quote

In [34]:
# to scrape multiple page data using next button

In [80]:
search1=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
search1.click()

In [82]:
df=pd.DataFrame({'Top_quotes':quotes[0:1000],'Authors':authors[0:1000],'Types':types_ofQ[0:1000]})
df                                 # creating dataframe

,Top_quotes,Authors,Types
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
996,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
998,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
999,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\asus\anaconda3\lib\site-packages (4.22.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (0.25.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (4.12.2)
Requirement already satisfied: websocket-client>=1.8.0 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\asus\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\asus\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\asus\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\asus\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [15]:
#Q7: Write a python program to display list of respected former Prime Ministers of India (i.e. Name,Born-Dead, Term of office, Remarks) from 

driver=webdriver.Chrome()

In [16]:
driver.get("https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1")

In [17]:
names=[]
borndead=[]
term_of_office=[]
remarks=[]

In [18]:
name=driver.find_elements(By.XPATH,'//div[@class="TableData"]//tr//td[2]')

for i in name:
    names.append(i.text)  # scraping names of PM

In [19]:
born_dead=driver.find_elements(By.XPATH,'//div[@class="TableData"]//tr//td[3]')

for i in born_dead:
    borndead.append(i.text)  # scraping born_dead date

In [23]:
terms=driver.find_elements(By.XPATH,'//div[@class="TableData"]//tr//td[4]')

for i in terms:
    term_of_office.append(i.text)  # scraping term of office

In [22]:
remark=driver.find_elements(By.XPATH,'//div[@class="TableData"]//tr//td[5]')

for i in remark:
    remarks.append(i.text)  # scraping remarks

In [25]:
df=pd.DataFrame({'NAME':names[0:19],'BnD':borndead[0:19],'TERM':term_of_office[0:19],'REMARKS':remarks[0:19]})
df                                 # creating dataframe

,NAME,BnD,TERM,REMARKS
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
4,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
5,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from South India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days,------
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - 2019,4th Prime Minister of India who served two con...
18,Narendra Modi,(born 1950),30 May 2019- Incumbent,First non-congress PM with two consecutive ten...

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\asus\anaconda3\lib\site-packages (4.22.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (0.25.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (4.12.2)
Requirement already satisfied: websocket-client>=1.8.0 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\asus\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\asus\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\asus\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\asus\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [8]:
#Q8: Write a python program to display list of 50 Most expensive cars in the world
#(i.e. Car name and Price) from https://www.motor1.com

driver=webdriver.Chrome()

In [9]:
driver.get("https://www.motor1.com")

In [10]:
get=driver.find_element(By.XPATH,'//input[@class="m1-search-panel-input m1-search-form-text"]')
get.send_keys('50 most expensive cars')

In [17]:
#clicking on search button

In [11]:
search=driver.find_element(By.XPATH,'/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
search.click()

In [18]:
#clicking on most expensive cars link

In [12]:
search=driver.find_element(By.XPATH,'/html/body/div[9]/div[9]/div/div[1]/div/div/div[1]/div/div[1]/h3/a')
search.click()

In [13]:
cars=[]
price=[]

In [14]:
car=driver.find_elements(By.XPATH,'//div[@class="postBody description e-content"]/h3')

for i in car:
    cars.append(i.text)  # scraping car names

In [15]:
prices=driver.find_elements(By.XPATH,'//div[@class="postBody description e-content"]/p/strong')

for i in prices:
    price.append(i.text)  # scraping price

In [16]:
df=pd.DataFrame({'Car_names':cars[0:50],'Prices':price[0:50]})
df                                 # creating dataframe

                                    Car_names                       Prices
0                           McLaren Senna GTR                 $1.7 Million
1                                 Czinger 21C          Price: $1.7 Million
2                               Ferrari Monza          Price: $1.7 Million
3                          Gordon Murray T.33          Price: $1.7 Million
4                           Koenigsegg Gemera          Price: $1.7 Million
5                          Hennessey Venom F5          Price: $1.8 Million
6                             Bentley Bacalar          Price: $1.9 Million
7               Hispano Suiza Carmen Boulogne          Price: $1.9 Million
8                      Bentley Mulliner Batur          Price: $2.0 Million
9                                 SSC Tuatara          Price: $2.0 Million
10                                Lotus Evija          Price: $2.1 Million
11                        Aston Martin Vulcan          Price: $2.3 Million
12                                 Delage D12          Price: $2.3 Million
13                        Ferrari Daytona SP3          Price: $2.3 Million
14                          McLaren Speedtail          Price: $2.3 Million
15                               Rimac Nevera          Price: $2.4 Million
16                              Pagani Utopia          Price: $2.5 Million
17                       Pininfarina Battista          Price: $2.5 Million
18                         Gordon Murray T.50          Price: $2.6 Million
19                       Lamborghini Countach          Price: $2.6 Million
20              Hennessey Venom F5 Revolution                 $2.7 Million
21                   Mercedes-AMG Project One          Price: $2.7 Million
22                               Zenvo Aurora          Price: $2.8 Million
23                        Aston Martin Victor          Price: $3.0 Million
24                Hennessey Venom F5 Roadster                 $3.0 Million
25                           Koenigsegg Jesko          Price: $3.0 Million
26                                 Aspark Owl                 $3.1 Million
27                      Aston Martin Valkyrie          Price: $3.2 Million
28                  W Motors Lykan Hypersport          Price: $3.4 Million
29                              McLaren Solus                 $3.5 Million
30                        Pagani Huayra Evo R          $3.5 Million (est.)
31                           Lamborghini Sian          Price: $3.6 million
32                           Koenigsegg CC850          Price: $3.7 Million
33            Bugatti Chiron Super Sport 300+          Price: $3.9 Million
34  Gordon Murray Automotive T.50s Niki Lauda                 $3.9 Million
35                  Pagani Huayra Roadster BC                 $4.0 Million
36                         Lamborghini Veneno          Price: $4.5 Million
37                             Bugatti Bolide          Price: $4.7 Million
38                  Pininfarina B95 Speedster          Price: $4.8 Million
39                            Bugatti Mistral          Price: $5.0 Million
40                               Bugatti Divo          Price: $5.8 Million
41                        Pagani Huayra Imola                 $6.0 Million
42                           Pagani Codalunga          Price: $7.4 Million
43                   Mercedes-Maybach Exelero          Price: $8.0 Million
44                         Bugatti Centodieci          Price: $9.0 Million
45                    Bugatti Chiron Profilée         Price: $10.8 Million
46                       Rolls-Royce Sweptail         Price: $12.8 Million
47                   Bugatti La Voiture Noire         Price: $13.4 Million
48                      Rolls-Royce Boat Tail  Price: $28.0 Million (est.)
49         Rolls-Royce La Rose Noire Droptail    Price: $30 Million (est.)

In [1]:
# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the 
#job-title, job-location, company_name, experience_required.
#1. First get the webpage https://www.shine.com

!pip install selenium

Requirement already satisfied: selenium in c:\users\asus\anaconda3\lib\site-packages (4.22.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (0.25.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (4.12.2)
Requirement already satisfied: websocket-client>=1.8.0 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\asus\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\asus\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\asus\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\asus\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome()

In [4]:
# opening shine.com
driver.get("https://www.shine.com")

In [9]:
job_title=[]
job_location=[]
company_name=[]
experience_need=[]

In [14]:
#entering designation 

designation=driver.find_element(By.XPATH,'//div[@class="searchForm_search_wrap__cXRj4"]//li[1]/div/input')
designation.send_keys('Data Scientist')

In [18]:
# inserting location

In [15]:
Location=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
Location.send_keys('Bangalore')

In [17]:
# enter search button

search=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search.click()

In [19]:
#scraping job_title from the given page

titles=driver.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]')
for i in titles[0:10]:
    job_title.append(i.text)
job_title[0:10]

['Data Scientist',
 'Data Scientist',
 'Data Scientist Recruitment',
 'Data Scientist',
 'Data Scientist',
 'Hiring For Data Scientist',
 'Data Scientist',
 'Data Analyst',
 'Senior Data Engineer',
 'Data Analyst']

In [20]:
#scraping job_location from the given page

location=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')

for i in location[0:10]:
    job_location.append(i.text)
job_location[0:10]

['Bangalore',
 'Bangalore\n+1',
 'Bangalore\n+13',
 'Bangalore',
 'Bangalore\n+10',
 'Bangalore\n+15',
 'Bangalore\n+2',
 'Bangalore\n+4',
 'Bangalore\n+6',
 'Bangalore']

In [21]:
#scraping company_name from the given page

companyname=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')

for i in companyname[0:10]:
    company_name.append(i.text)

In [22]:
#scraping experience_need name from the given page

experience=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')

for i in experience:
    experience_need.append(i.text)

In [23]:
df=pd.DataFrame({'title':job_title[0:10],'location':job_location[0:10],'company_name':company_name[0:10],'experience':experience_need[0:10]})
df

,title,location,company_name,experience
0,Data Scientist,Bangalore,comosrich it & consulting services,3 to 8 Yrs
1,Data Scientist,Bangalore\n+1,dotcod innovation private limited,2 to 6 Yrs
2,Data Scientist Recruitment,Bangalore\n+13,kavya interprises,0 to 4 Yrs
3,Data Scientist,Bangalore,meraki it solutions,3 to 6 Yrs
4,Data Scientist,Bangalore\n+10,vaishnavi services,18 to >25 Yrs
5,Hiring For Data Scientist,Bangalore\n+15,neelima staffing solution,0 to 4 Yrs
6,Data Scientist,Bangalore\n+2,talent toppers llp,0 to 3 Yrs
7,Data Analyst,Bangalore\n+4,aryan technology,0 to 4 Yrs
8,Senior Data Engineer,Bangalore\n+6,tlg india private limited,5 to 9 Yrs
9,Data Analyst,Bangalore,phoenix global re settlement servic...,3 to 8 Yrs

In [35]:
driver.quit()